/* General Reset */
* {
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to bottom, #e0f7fa, #ffffff);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    line-height: 1.6;
}

/* Container */
.container {
    width: 100%;
    max-width: 700px;
    text-align: center;
    padding: 40px 20px;
    border-radius: 16px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Section Spacing */
section:not(#headshot) {
    margin-bottom: 40px;
}

/* Header */
header h2 {
    margin-top: 0;
}

h1 {
    font-size: 2em;
    font-weight: 600;
    color: #00796b;
    margin: auto;
}

h2 {
    font-size: 1.2em;
    font-weight: 500;
    color: #005a4a;
    text-decoraion: underline;
}

/* Headshot */
#headshot img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #00796b;
}

/* About Section */
#about p {
    font-size: 1em;
    color: #555;
}


/* Skills - Display in a Row */
#skills ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#skills li {
    font-size: 1em;
    background: #e0f2f1;
    padding: 10px 15px;
    border-radius: 8px;
    color: #004d40;
    display: inline-block;
    min-width: 120px;
    text-align: center;
}



/* Portfolio */
.project {
    margin: 0 20px 20px 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    border: 1.5px solid #ccc;
}

.project a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 10px;
    transition: color 0.3s ease;
}

.project h3 {
    font-size: 1em;
    font-weight: 500;
    color: #00796b;
}

.project p {
    font-size: 1em;
    color: #555;
}

.project:hover {
    background-color: #e0f2f1;
    border-color: #00796b;
}

.project a:hover {
    color: #004d40;
}
